<%- include('includes/header') %>

<div class="box content">
    <h1><center>Done!</center></h1>
    <p>
        <a href="http://<%= homeURL %>/<%= result.short_link %>" class="link"><%= homeURL %>/<%= result.short_link %></a>
    </p>
</div>

<%- include('includes/footer') %>